.root {
  display: flex;
  gap: 20px;

  .images {
    width: 540px;
    height: 350px;
    flex-basis: 50%;
    & > img {
      padding: 5px;
      background-color: #fff;
      border: 1px solid #dee2e6;
      border-radius: 5px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 30%;
    }

    .thumbnail {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 5px;
      .thumbnailImage {
        padding: 4px;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: 5px;
        height: 80px;
        cursor: pointer;
        img {
          border-radius: 5px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 0 30%;
        }
        &.active {
          border-color: crimson;
        }
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-basis: 50%;
    h1 {
      font-weight: 500;
      font-size: 32px;
      line-height: 38px;
      text-transform: uppercase;
    }

    .price {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #dc143c;
    }

    .count {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      color: #dc143c;
    }

    button {
      width: 25%;
    }
  }
}
